/*
Copyright Zhigui.com. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
*/

.organization-management{
    position:absolute;
    width:100%;
    height:100%;
    .organization-wrapper{
        .create-organization{
            height:32px;
            position:relative;
            .create-plus{
                position:absolute;
                right:0;
                font-size:14px;
                border-radius:1px;
                border:none;
                background:#3d70b1;
                color:#ffffff;
            }
        }
        .ant-table-wrapper{
            margin-top:24px;
            margin-bottom:24px;
            background:#ffffff;
            padding:24px 24px 11px;
            .ant-table-thead{
                tr{
                    th{
                        background:#f6f8fa;
                        border-right:1px solid #ffffff;
                        word-break: unset;
                        padding:16px 16px;
                        .ant-table-column-sorter{
                            right:10%;
                        }
                    }
                }
            }
            .ant-table-tbody{
                tr{
                    &:hover{
                        td{
                            background: rgb(255, 255, 255);
                        }
                    }
                    td{
                        .ant-table-row-expanded{
                            margin-right:21px;
                        }
                        .indent-level-1{
                            padding-left:0!important;
                            color:#3d70b1;
                            &:after{
                                content:'L';
                                margin-left:4px;
                                padding-left:0!important;
                            }
                        }
                    }
                }
                .ant-table-row-expand-icon{
                    background:#3d70b1;
                    color:#ffffff;
                    border:none;
                }
                
            }
        }
        .ant-pagination{
            margin-top:24px;
            float:right;
            margin-bottom:26px;
        }
        
        
    }
}
.create-modal{
        .ant-modal-close{
            color:#ffffff;
            &:hover{
                color:#ffffff;
            }
            .ant-modal-close-x{
                height:48px;
                line-height:48px;
            }
        }
        .ant-modal-header{
            height:48px;
            background:#152935;
            .ant-modal-title{
                color:#ffffff;
                font-size:16px;
                font-weight:400;
                text-align:left;
                line-height:16px;
            }
        }
        .ant-modal-body{
            height:184px;
            .ant-form-item{
                margin-top:10px;
            }
        }
        .ant-modal-footer{
            background:#f6f8fa;
             button{
                 width:96px;
                 height:32px;
                 border:1px solid #e4ebf1;
                 &:first-child{
                     background:#3d70b1;
                     color:#ffffff;
                     font-size:14px;
                 }
                 &:last-child{
                     background:#e4ebf1;
                     color:rgba(61,112,177,0.85);
                 }
             }
        }
}
