/*
Copyright Zhigui.com. All Rights Reserved.

SPDX-License-Identifier: Apache-2.0
*/

.dom_dashboard{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: auto;
    flex: auto;
    background: #f0f2f5;
    min-height: 0;
    position: relative;
    .ant-modal-mask{
        position: absolute;
    }
    .ant-modal-wrap{
        position: absolute;
    }
    .ant-modal-confirm-btns{
        button{
            float: right;
        }
        button:nth-of-type(2){
            margin-right: 16px;
            background: #3d70b1;
        }
    }
    .delectContractTit{
        font-size: 16px;
        font-weight: normal;
        color: #ffffff;
    }
    .ant-modal-close{
        color: #ffffff !important;
    }
    .ant-modal-header{
        background: #152935;
    }
    .ant-modal-footer{
        background: #f6f8fa;
        height: 53px;
        button{
            float: right;
            width: 96px;
            height: 32px;
        }
        button:nth-of-type(2){
            margin-right: 16px;
            background: #3d70b1;
        }
    }
    .resetPassModalForm{
        input{
            height: 32px;
        }
        .ant-form-item-label{
            text-align: left;
        }
        .ant-form-item{
            font-size: 12px !important;
        }
        input::-webkit-input-placeholder{
            color:rgba(0,0,0,0.25);
            font-size: 14px;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:rgba(0,0,0,0.25);
            font-size: 14px;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:rgba(0,0,0,0.25);
            font-size: 14px;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:rgba(0,0,0,0.25)!important;
            font-size: 14px;
        }

    }
    .resetPassFormItem + code{
        padding-left: 20.8%;
        padding-right:12.5% ;
        position: relative;
        top: -12px;
        text-align: center;
        width: 100%;
        color: #f13640;
        font-size: 12px;
        display: inline-block;
    }
    .passCaptchaBox{
        width:100%;
        margin-top:8px;
        position: relative;
        margin-bottom: 8px;
        span{
            height: 5px;
        }

        .passTip{
            position: absolute;
            width: 100%;
            left: 0;
            height:18px;
            color: #4f5f82;
            text-align: center;
            margin-top: 5px;
            font-size: 12px;
        }
    }
    .passCaptchaBox ::after{
        display: none;
    }
}
.ant-tooltip{
    .ant-tooltip-content{
        .ant-tooltip-inner{
            span{
                opacity:1!important;
                margin-left:5px;
            }
        }
    }
}
.dashboard_layout{
    min-width: 1000px;
    height: 100%;
    .consortiumJump{
        a:hover{
            color: #5aaafa !important;
        }
    }
    .ant-modal-confirm-btns{
        button{
            float: right;
        }
        button:nth-of-type(2){
            margin-right: 16px;
            background: #3d70b1;
        }
    }
    .modalBtnStyle{
        .ant-btn{
            padding: 0 38px;
            height: 38px;
            line-height: 38px;
        }
    }
    .ant-breadcrumb{
        width:100%;
        .ant-breadcrumb-link{
            a{
                font-size: 12px;
                color: #7f8fa4;
            }
        }
        .firtBreadCrum{
            color: #354052;
            font-size: 14px;
        }
        .detailBreadcrum{
            font-size: 12px;
            color: #7f8fa4;
            cursor: pointer;
        }
        .detailBreadcrum + .ant-breadcrumb-separator{
            display: none;
        }
    }
    .trigger {
        font-size: 18px;
        line-height: 64px;
        padding: 0 24px;
        cursor: pointer;
        transition: color .3s;
    }

    .trigger:hover {
        color: #4285f4;
    }
    .slider{
        background:#152935;
        overflow: auto;
        .logo-side{
            height:64px;
            line-height:64px;
            text-align:center;
        }
        .logo{
            display: block;
            height: 64px;
            margin: 0 33px;
            line-height:64px;
        }

        .List{
            background:#152935;
            .list-item{
                position:relative;
                margin-top:18px;;
                height:40px;
                line-height:40px;
                padding-left:33px!important;
                .fill-in{
                    position:absolute;
                    left:0;
                    top:0;
                    width:4px;
                    height:100%;
                    background:#5aaafa;
                }
                span{
                    display: inline;
                    font-weight:300;
                    font-size:14px;
                    letter-spacing:normal;
                    color:#ffffff;
                    font-style: normal;
                    font-stretch: normal;
                }
                img{
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right:10px;
                    margin-top:-2px;
                }
            }
            .ant-menu-item-selected{
                background:rgba(90, 170, 250, 0.1);
                span{
                    color:#5aaafa;
                }
            }
        }
        .ant-layout-sider-trigger{
            position:static;
        }
    }
    .layout-header{
        -ms-overflow-style: none!important;
        .header-list{
            height: 100%;
            float: right;
            display: flex;
            align-items: center;
            margin-right: 24px;
            a{
                height: 100%;
                line-height: 64px;
                color: #354052;
                font-size: 14px;
            }
            .dashboard-nav{
                height: 100%;
                display: flex;
                align-items: center;
                margin-bottom: 0px;
                margin-right: 49px;
                .dashboard-nav-item{
                    margin: 0 12px ;
                    a{
                        color:  #7f8fa4;
                        font-size: 16px;
                    }
                }
                .dashboard-nav-item a:hover{
                    color: #4285f4;
                }
            }
            .language-box{
                    // float: right;
                    margin-right: 12px;
                    height: 80px;
                    line-height: 80px;
                    span{
                        color: #354052;
                        cursor: pointer;
                    }
                    .current-lang{
                        margin-right: 8px;
                    }
                }
            .user-name-box{
                margin:  0 30px;
                font-size: 14px;
                color: #354052;
            }
        }
        .breadcrumb{
            width:auto;
            height:48px;
            background:#ffffff;
            position:relative;
            .breadcrumb-section{
                color:#152935;
                font-size:14px;
            }
        }
        .content{
            margin:24px;
        }
    }

}