.overview-page {
    .basic-info-box {
        height: 96px;
        padding: 12px 0;
        display: flex;
        background: #fff;
        .item-box {
            flex: 1;
            display: flex;
            justify-content: center;
            border-right: 1px solid #e4ebf1;
        }
    }
}