.channel-page {
    position: absolute;
    width: 100%;
    height: 100%;
    .create-channel-box {
        position: relative;
        height: 32px;
        .create-channel-btn {
            position: absolute;
            right: 0;
            border: none;
            border-radius: 1px;
            background: #3d70b1;
            color: #fff;
        }
    }
    .table-box {
        min-height: 572px;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 24px;
        background: #fff;
        .ant-table-wrapper {
            .ant-table-tbody {
                td {
                    .table-item-btn {
                        color: #3d70b1;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}